<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insure_hub">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.INSURE_HUB">
        <activity
            android:name=".tabsrecover"
            android:exported="true" />
        <activity
            android:name=".tabsmake"
            android:exported="true" />
        <activity
            android:name=".tabscollect"
            android:exported="true" />
        <activity
            android:name=".tabsreceive"
            android:exported="true"
            android:label="@string/title_activity_tabsreceive"
            android:theme="@style/Theme.INSURE_HUB.NoActionBar" />
        <activity
            android:name=".Tabspersonalform"
            android:exported="true" />
        <activity
            android:name=".Tabsbrockerform"
            android:exported="true" />
        <activity
            android:name=".Tabsserviceproviderform"
            android:exported="true" />
        <activity
            android:name=".Tabbusinessform"
            android:exported="true" />
        <activity
            android:name=".Quotation"
            android:exported="true" />
        <activity
            android:name=".samplesketch"
            android:exported="true" />
        <activity
            android:name=".Products"
            android:exported="true" />
        <activity
            android:name=".Registration"
            android:exported="true" />
        <activity
            android:name=".Premiums"
            android:exported="true" />
        <activity
            android:name=".Lifeinsurancetab11"
            android:exported="true" />
        <activity
            android:name=".TabsFarmersinsurance"
            android:exported="true" />
        <activity
            android:name=".TabsMedicalinsurance"
            android:exported="true" />
        <activity
            android:name=".Tabsfuneralinsurance"
            android:exported="true" />
        <activity
            android:name=".Tabscarinsurance"
            android:exported="true" />
        <activity
            android:name=".TabsLifeeinsurance"
            android:exported="true" />
        <activity
            android:name=".TabsHomeinsurance"
            android:exported="true" />
        <activity
            android:name=".VehicleInsurance"
            android:exported="true" />
        <activity
            android:name=".FuneralInsurance"
            android:exported="true" />
        <activity
            android:name=".MedicalInsurance"
            android:exported="true" />
        <activity
            android:name=".lifeinsurance"
            android:exported="true" />
        <activity
            android:name=".MedicalInsuranceClaim"
            android:exported="true" />
        <activity
            android:name=".UnderwriterTasks"
            android:exported="true" />
        <activity
            android:name=".FuneralInsuranceClaim"
            android:exported="true" />
        <activity
            android:name=".Home_Home"
            android:exported="true" />
        <activity
            android:name=".Application_Manager"
            android:exported="true" />
        <activity
            android:name=".New_Business"
            android:exported="true" />
        <activity
            android:name=".Submit_Documentation"
            android:exported="true" />
        <activity
            android:name=".Damage_Assesment"
            android:exported="true" />
        <activity
            android:name=".My_claims"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".lodge_claim"
            android:exported="true" />
        <activity
            android:name=".CLAIMS"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>